/* Form Styles */

/* Tags */
aside {
  background: linear-gradient(
    var(--light-accent), 
    var(--circle-color), 
    var(--dark-accent)
  );
  clip-path: circle(20rem at center);
  display: flex;
  justify-content: center;
  align-items: center;
}

aside, 
section {
  flex: 1 1 50%;
}

aside > h2 {
  font-size: 4rem;
  color: var(--light-text);
  text-shadow: 1px 1px 1px var(--dark-accent);
}

form {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--light-accent);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form > *:not(label) {
  margin: 1rem 0;
  padding: 0.5rem;
}

form h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--light-text);
}

input[type=submit] {
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 4px;
}

input[type=submit]:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
}

input[type=submit]:hover {
  background-color: lighten(var(--button-bg), 10%);
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid var(--light-text);
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--light-bg);
  color: var(--light-text);
}

section {
  padding: 2rem;
  display: flex;
  align-items: stretch;
  flex-flow: column wrap;
  justify-content: center;
  border-left: double 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--light-text);
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: vertical;
}

/* Classes */
.dark section {
  border-left: solid .5rem var(--dark-highlight);
}

.dark form {
  background-color: var(--dark-accent);
}

.dark form h2 {
  color: var(--dark-text);
}

.dark label {
  color: var(--dark-highlight);
}

.dark input,
.dark textarea {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

/* IDs */
#error {
  color: var(--error);
  opacity: .75;
  position: absolute;
  bottom: -2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--button-text);
  background-color: var(--button-bg);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a:hover {
  background-color: lighten(var(--button-bg), 10%);
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  background-color: var(--light);
  color: var(--dark);
  padding: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: var(--dark);
}

footer a:hover {
  text-decoration: underline;
}

.dark footer {
  background-color: var(--dark);
  color: var(--light);
}

.dark footer a {
  color: var(--light);
}

.light footer {
  background-color: var(--light);
  color: var(--dark);
}

.light footer a {
  color: var(--dark);
}
