/* Resets */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

/* General Styles */
/* Universal */
:root {
  /* Light Mode Colors */
  --light-bg: #F2F1EF;
  --light-accent: #D8CFDO;
  --light-text: #413F3D;
  --light-secondary: #697184;
  --light-highlight: #B1A6A4;
  
  /* Dark Mode Colors */
  --dark-bg: #413F3D;
  --dark-accent: #697184;
  --dark-text: #F2F1EF;
  --dark-secondary: #D8CFDO;
  --dark-highlight: #B1A6A4;

  /* Common Colors */
  --error: #FF0000;
  --button-bg: #BADFE7;
  --button-text: #413F3D;
}

* {
  transition: background-color ease-in .5s, color ease-in .5s;
}

/* Tags */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  padding: 2rem;
}

main {
  height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-top: double 1rem;
}

footer {
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  background-color: var(--light-accent);
  color: var(--light-text);
  padding: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: var(--light-text);
}

footer a:hover {
  text-decoration: underline;
}

/* Light Mode Specific Styles */
body.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

body.light h2 {
  color: var(--light-secondary);
}

body.light header,
body.light footer {
  background-color: var(--light-accent);
  color: var(--light-text);
}

body.light footer a {
  color: var(--light-text);
}

/* Dark Mode Specific Styles */
body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.dark h2 {
  color: var(--dark-secondary);
}

body.dark header,
body.dark footer {
  background-color: var(--dark-accent);
  color: var(--dark-text);
}

body.dark footer a {
  color: var(--dark-text);
}

.dark aside {
  background: linear-gradient(to top, var(--dark-secondary), var(--dark-text));
}

.dark aside h2 {
  color: var(--dark-highlight);
}

.dark form {
  background-color: var(--dark-accent);
}

.dark form h2 {
  color: var(--dark-text);
}

.dark label {
  color: var(--dark-highlight);
}

.dark input,
.dark textarea {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

/* IDs */
#toggle {
  font-size: 1.52em;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  text-shadow: 0px 0px .5rem var(--light-accent);
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: auto; /* Move toggle to the left */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Button Styles */
button,
a {
  background-color: var(--button-bg);
  color: var(--button-text);
}

button:hover,
a:hover {
  background-color: lighten(var(--button-bg), 10%);
}

button:active,
a:active {
  background-color: darken(var(--button-bg), 10%);
}

/* Error Messages */
#error {
  color: var(--error);
}
